<% include includes/html-head.html %>

<div id="wrap" > 
  <!-- Wrap Starts -->
  <div class="container">
    
    <!-- Main Body Includes Starts -->
    <div class="body-container">
      <% include includes/site-header.html %>
      
      Trial to check - pranjal
      
      <% include includes/site-footer.html %>
    </div>
    <!-- Main Body Includes Ends --> 
    <!-- Includes footer links and Social media icons -->

  </div>
  <!-- container end --> 
</div>
<!-- Wrap end -->
<% include includes/html-footer.html %>
