
.icon-arrow-down-white {
	background-image: url('../images/icons-png/arrow-down-white.png');
	width:48px;
	height:3381px;
}



.icon-arrow-right-black {
	background-image: url('../images/icons-png/arrow-right-black.png');
	width:48px;
	height:3605px;
}



.icon-arrow-right-blue {
	background-image: url('../images/icons-png/arrow-right-blue.png');
	width:48px;
	height:3621px;
}



.icon-burger {
	background-image: url('../images/icons-png/burger.png');
	width:16px;
	height:6117px;
}



.icon-camera-white {
	background-image: url('../images/icons-png/camera-white.png');
	width:48px;
	height:3429px;
}



.icon-cart-black {
	background-image: url('../images/icons-png/cart-black.png');
	width:16px;
	height:13493px;
}



.icon-check-yellow {
	background-image: url('../images/icons-png/check-yellow.png');
	width:26px;
	height:2741px;
}



.icon-chevron-double-down-black {
	background-image: url('../images/icons-png/chevron-double-down-black.png');
	width:16px;
	height:5413px;
}



.icon-chevron-right-black {
	background-image: url('../images/icons-png/chevron-right-black.png');
	width:16px;
	height:3477px;
}



.icon-chevron-right-blue {
	background-image: url('../images/icons-png/chevron-right-blue.png');
	width:16px;
	height:3477px;
}



.icon-chevron-right-red {
	background-image: url('../images/icons-png/chevron-right-red.png');
	width:16px;
	height:3477px;
}



.icon-chevron-right-yellow {
	background-image: url('../images/icons-png/chevron-right-yellow.png');
	width:16px;
	height:3477px;
}



.icon-envelope-black {
	background-image: url('../images/icons-png/envelope-black.png');
	width:48px;
	height:2757px;
}



.icon-envelope-white {
	background-image: url('../images/icons-png/envelope-white.png');
	width:48px;
	height:2805px;
}



.icon-facebook-black {
	background-image: url('../images/icons-png/facebook-black.png');
	width:24px;
	height:4901px;
}



.icon-flag-white {
	background-image: url('../images/icons-png/flag-white.png');
	width:48px;
	height:2981px;
}



.icon-folder-black {
	background-image: url('../images/icons-png/folder-black.png');
	width:64px;
	height:1733px;
}



.icon-google-plus-black {
	background-image: url('../images/icons-png/google-plus-black.png');
	width:24px;
	height:14773px;
}



.icon-magnifier-black {
	background-image: url('../images/icons-png/magnifier-black.png');
	width:18px;
	height:8325px;
}



.icon-music-black {
	background-image: url('../images/icons-png/music-black.png');
	width:64px;
	height:2869px;
}



.icon-music-white {
	background-image: url('../images/icons-png/music-white.png');
	width:64px;
	height:2821px;
}



.icon-phone-white {
	background-image: url('../images/icons-png/phone-white.png');
	width:48px;
	height:2501px;
}



.icon-photo-white {
	background-image: url('../images/icons-png/photo-white.png');
	width:48px;
	height:2597px;
}



.icon-pin-white {
	background-image: url('../images/icons-png/pin-white.png');
	width:48px;
	height:4101px;
}



.icon-quote-open-black {
	background-image: url('../images/icons-png/quote-open-black.png');
	width:36px;
	height:3957px;
}



.icon-star-white {
	background-image: url('../images/icons-png/star-white.png');
	width:48px;
	height:4037px;
}



.icon-support-black {
	background-image: url('../images/icons-png/support-black.png');
	width:16px;
	height:17877px;
}



.icon-twitter-black {
	background-image: url('../images/icons-png/twitter-black.png');
	width:24px;
	height:11525px;
}



.icon-user-black {
	background-image: url('../images/icons-png/user-black.png');
	width:16px;
	height:12213px;
}



.icon-user-checked-white {
	background-image: url('../images/icons-png/user-checked-white.png');
	width:48px;
	height:4853px;
}



.icon-video-black {
	background-image: url('../images/icons-png/video-black.png');
	width:64px;
	height:3861px;
}



.icon-video-play {
	background-image: url('../images/icons-png/video-play.png');
	width:70px;
	height:3269px;
}



.icon-x {
	background-image: url('../images/icons-png/x.png');
	width:16px;
	height:3861px;
}



.icon-youtube-black {
	background-image: url('../images/icons-png/youtube-black.png');
	width:48px;
	height:23541px;
}


