
.icon-arrow-down-white {
	background-image: url('../images/icons-png/arrow-down-white.png');
	width:48px;
	height:48px;
}



.icon-arrow-right-black {
	background-image: url('../images/icons-png/arrow-right-black.png');
	width:48px;
	height:48px;
}



.icon-arrow-right-blue {
	background-image: url('../images/icons-png/arrow-right-blue.png');
	width:48px;
	height:48px;
}



.icon-camera-white {
	background-image: url('../images/icons-png/camera-white.png');
	width:48px;
	height:48px;
}



.icon-envelope-black {
	background-image: url('../images/icons-png/envelope-black.png');
	width:48px;
	height:48px;
}



.icon-envelope-white {
	background-image: url('../images/icons-png/envelope-white.png');
	width:48px;
	height:48px;
}



.icon-facebook-black {
	background-image: url('../images/icons-png/facebook-black.png');
	width:24px;
	height:24px;
}



.icon-flag-white {
	background-image: url('../images/icons-png/flag-white.png');
	width:48px;
	height:48px;
}



.icon-google-plus-black {
	background-image: url('../images/icons-png/google-plus-black.png');
	width:24px;
	height:24px;
}



.icon-music-white {
	background-image: url('../images/icons-png/music-white.png');
	width:48px;
	height:48px;
}



.icon-phone-white {
	background-image: url('../images/icons-png/phone-white.png');
	width:48px;
	height:48px;
}



.icon-photo-white {
	background-image: url('../images/icons-png/photo-white.png');
	width:48px;
	height:48px;
}



.icon-pin-white {
	background-image: url('../images/icons-png/pin-white.png');
	width:48px;
	height:48px;
}



.icon-star-white {
	background-image: url('../images/icons-png/star-white.png');
	width:48px;
	height:48px;
}



.icon-twitter-black {
	background-image: url('../images/icons-png/twitter-black.png');
	width:24px;
	height:24px;
}



.icon-user-checked-white {
	background-image: url('../images/icons-png/user-checked-white.png');
	width:48px;
	height:48px;
}



.icon-youtube-black {
	background-image: url('../images/icons-png/youtube-black.png');
	width:48px;
	height:24px;
}


